html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: #ffffff;
}

/* Modal Content */

.gameStats {
  margin: auto;
  display: table;
  padding: 20px;
  width: 80%;
  height: 100%;
  text-align: center;
}

.play-again {
  background-color: #0E8C3A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.para1-gameover {
  font-weight: bold;
  font-size: larger;
}

.para2-gameover {
  color: #808080;
}

.gameStats span {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  z-index: 4;
  width: 100%;
  max-width: 600px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.aside {
  z-index: 3;
  display: inline-block;
  height: 200px;
  width: 100%;
  max-width: 600px;
  background: #2e3d49;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}

.aside i {
  box-sizing: inherit;
  width: 80%;
  height: 10%;
  margin-top: 25px;
}

.aside p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  margin-bottom: 3%;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transition: 0.5s;
}

.deck .card.open {
  background: #02b3e4;
  transform: rotateY(180deg);
  cursor: default;
}

.fa{
  margin:auto;
}
.deck .card.close {
  transform: rotateY(180deg);
  background: #2e3d49;
}

.deck .card.show {
  font-size: 33px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.apply-shake {
  animation: shake 0.82s;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.score-panel .stars {
  display: inline-block;
  margin: auto;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  width: 30%;
  margin: auto;
  cursor: pointer;
  padding: 1.5em;
  text-align: center;
}

p.timeElapsedLbl {
  color: #808080;
  font-size: 30px;
}

.starsAndMoves {
  width: 100%;
  text-align: center;
}

p.timeElapsed {
  font-size: 20px;
}

/*Adjust card size between these screen widths so 2 cards can fit each line*/
@media screen and (min-width: 320px) and (max-width: 472px) {
  .deck .card {
    width:70px;
    height:70px;
  }
}

/*Adjust card size between these screen widths so 2 cards can fit each line */
@media screen and (min-width: 473px) and (max-width: 480px) {
  .deck .card {
    width:90px;
    height:90px;
  }
}


/*Adjust card spacing between these screen widths so cards are not sticking to
 the edges of the screen */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .deck {
    justify-content: center;
  }
  .deck .card {
    margin: 3%;
  }
}

/*Adjust card margins between these screen widths to avoid cards
sticking together */
@media screen and (min-width: 640px) and (max-width: 665px) {
  .card{
    margin:3%;
  }
  .deck {
    justify-content: space-around;
  }
}

/*Adjust deck size from this screen width and above to optimize on space */
@media screen and (min-width: 640px) {
  .main{
    width:90%;
  }
}
